<ion-content [fullscreen]="true">

  <div id="body">

    <div id="header">
      <ion-img src="../../assets/NomeApp.png" class="imgApp"></ion-img>
    </div>

    <div id="add-gastos">

      <span> Gastos </span>

      <div class="button">
        <ion-fab>
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>

    </div>

    <div class="historico-gastos"></div>

    <ion-footer>
      <div id="menu">
        <div class="buttons">
          <button class="relatorio"></button>
          <button class="ganhos"></button>
          <button class="home"></button>
          <button class="gastos"></button>
          <button class="configuracoes"></button>
        </div>
      </div>
    </ion-footer>

  </div>

</ion-content>
