<ion-content>
    <div id="body">

        <!-- HEADER -->
        <div class="header">
            <ion-img src="../../assets/NomeApp.png" class="imgApp"></ion-img>
        </div>

        <!-- CAMPO DO VALOR  -->
        <div class="valor">
            <div class="texto-valor">
                <span>TOTAL GANHOS / GASTOS</span>
            </div>

            <div class="campo-valor">
                <div class="total">
                    <span>500</span>
                </div>
                <div class="button">
                    <ion-fab>
                        <ion-fab-button>
                          <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                      </ion-fab>
                </div>
            </div>
        </div>


        <!-- CAMPO DO FILTRO -->
        <div class="filtro">
            <div class="texto-filtro">
                <span> Movimentações </span>
            </div>
            <div class="img-filtro">
                <ion-img src="../../assets/icon/ordenar.png"></ion-img>
            </div>
        </div>

        <!-- CAMPO DAS TRANSAÇÕES -->
        <div class="transacoes"></div>

        <!-- CAMPO DO MENU -->
        <div class="menu">
            <div class="buttons">
                <button class="relatorio"></button>
                <button class="ganhos"></button>
                <button class="home"></button>
                <button class="gastos"></button>
                <button class="configuracoes"></button>
                
            </div>
        </div>
    </div>
</ion-content>