<ion-content class="ion-padding">
    <div id="body">
        <div class="header">
            <ion-img src="../../assets/NomeApp.png" class="imgApp"></ion-img>
        </div>

        <div class="valor"></div>

        <div class="filtro"></div>

        <div class="transacoes"></div>


        <div class="menu">
            <div class="buttons">
                <button class="relatorio"></button>
                <button class="ganhos"></button>
                <button class="home"></button>
                <button class="gastos"></button>
                <button class="configuracoes"></button>
                
            </div>
        </div>
    </div>
</ion-content>