ion-content {
  --background: green;
  --color: #fff;

  #body{
    width:  100%;
    height: 100%;
    background-color: orange;

    display: flex;
    flex-direction: column;

    .header{
      width: 100%;
      height: 17vh;
      background-color: black;

      .imgApp{
        margin-top: 2vh;
        margin-left: 6vh;
  
      }
    }

    .valor{
      position: absolute;
      margin-top: 11vh;
      margin-left: 4vh;


      width: 42vh;
      height: 13vh;
      background-color: red;

      border-radius: 25px;
    }

    .filtro{
      margin-top:  9vh;
      margin-left: 4vh;

      width: 42vh;
      height: 6vh;
      background-color: yellow;

      border-radius: 25px;
    }

    .transacoes{
      margin-top: 1.5vh;


      width: 100%;
      height: 46vh;
      background-color: black;

      border-radius: 25px;
    }

    .menu{
      margin-top: 2vh;

      width: 100%;
      height: 14vh;
      background-color: #3232CD;

      overflow: hidden;
      box-sizing: border-box;

      display: flex;
      justify-content: center;
      align-items: center;

      .buttons{
        margin-top: 0.5vh;

        overflow: hidden;

        width:  95%;
        height: 12vh;
        background-color: red;

        border-radius: 100px;

        display: flex;
        justify-content: space-between;

        .relatorio{
          margin-top: 0.5vh;
          margin-left: 4%;


          background-image: url(../../assets/icon/lucro.png);
          background-repeat: no-repeat;
          background-position: 5px;

          width:  70px;
          height: 70px;
          background-color: white;

          border-radius: 50px;
        }

        .ganhos{
          width: 10vh;
          height: 10vh;
          background-color: black;
        }
      

      }
    }

  }
}


