<ion-content [fullscreen]="true">
  <div id="body">

    <div class="aviso">
      <ion-img src="../../assets/NomeApp.png" class="imgApp"></ion-img>
    </div>

    <div class="mensagem">
      <h2>PÁGINA EM CONSTRUÇÃO</h2>
      <br>
      <br>
      <span>Que pena, infelizmente essa página não está pronta.
        Mas em breve ficará
      </span>
    </div>

    <ion-footer>
      <div id="menu">
        <div class="buttons">
          <button class="relatorio"></button>
          <button class="ganhos"></button>
          <button class="home"></button>
          <button class="gastos"></button>
          <button class="configuracoes"></button>
        </div>
      </div>
    </ion-footer>

  </div>
</ion-content>
