#body{
  width:  100%;
  height: 100%;
  background-color: #3232CD;

  display: flex;
  flex-direction: column;

  .aviso{
      margin-top: 12vh;

      width: 100%;

      display: flex;
      flex-direction: column;

      .imgApp{
          margin-top: 2vh;
          margin-left: 6vh;
      }
  }

  .mensagem{     
      margin-top:  6vh;
      margin-left: 4vh;

      height: 30vh;
      color: white;

      span{
          font-size: 25px;
      }
  }

  #menu{
      margin-top: 28vh;

      width: 100%;
      height: 14vh;
      background-color: #3232CD;

      overflow: hidden;
      box-sizing: border-box;

      display: flex;
      justify-content: center;
      align-items: center;

      .buttons{
        margin-top: 0.5vh;

        overflow: hidden;

        width:  97%;
        height: 11vh;
        background-color: #F5F5F5;

        border-radius: 100px;

        display: flex;
        justify-content: center;
        gap: 10px;

        .relatorio{
          margin-top: 1vh;

          background-image: url(../../assets/icon/relatorio-financeiro.png);
          background-repeat: no-repeat;
          background-size: 82%;
          background-position: 9.5px center;

          width:  55px;
          height: 55px;

          border-radius: 50px;
        }

        .ganhos{
          margin-top: 1vh;

          background-image: url(../../assets/icon/investidor.png);
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: 5px center;


          width:  55px;
          height: 55px;

          border-radius: 50px;
        }

        .home{
          margin-top: 1vh;

          background-image: url(../../assets/icon/lucro.png);
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: 5px center;

          width:  60px;
          height: 60px;
          background-color: #FFFFFF;

          border-radius: 50px;
        }

        .gastos{
          margin-top: 1vh;

          background-image: url(../../assets/icon/despesas.png);
          background-repeat: no-repeat;
          background-size: 75%;
          background-position: 7px center;

          width:  55px;
          height: 55px;

          border-radius: 50px;
        }

        .configuracoes{
          margin-top: 1vh;

          background-image: url(../../assets/icon/user.png);
          background-repeat: no-repeat;
          background-size: 80%;
          background-position: 6px center;

          width:  55px;
          height: 55px;

          border-radius: 50px;
        }

      

      }
    }
}


// TELA CONFIGURAÇÃO

// #body{
//   width: 100%;
//   height: 100%;

//   overflow: hidden;

//   display: flex;
//   flex-direction: column;

//   #header{
//     width: 100%;
//     height: 16vh;
//     background-color: #3232CD;

//     .imgApp{
//       margin-top:  3vh;
//       margin-left: 8vh;
//     }
//   }

//   #campo-buttons{
//     margin-top: 0.5vh;

//     width: 100%;
//     height: 69vh;
//     background-color: #F8F8FF;

//     .config-menu{
//       margin-top: 2vh;

//       width: 100%;

//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;

//       gap: 25px;

//       .config-usuario{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/configUsuario.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }

//       .config-conta{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/configConta.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }

//       .alterar-idioma{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/alterarIdioma.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }

//       .alterar-modo{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/alterarModo.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }

//       .perguntas{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/perguntas.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }

//       .sair{
//         width: 90%;
//         height: 10vh;

//         font-family: 'Abel';
//         font-style:  normal;
//         font-weight: 400;
//         font-size:   18px;
//         line-height: 23px;
//         text-align:  center;
//         background-color: #FFFFFF;
//         color: #000000;

//         background-image: url(../../assets/icon/exit.png);
//         background-repeat: no-repeat;
//         background-position: 20px;
//         background-size:     40px;

//         border-radius: 50px;
//       }
//     }
//   }

//   #menu{
//     margin-top: 1vh;

//     width: 100%;
//     height: 14vh;
//     background-color: #3232CD;

//     overflow: hidden;
//     box-sizing: border-box;

//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .buttons-menu{
//       margin-top: 0.5vh;

//       overflow: hidden;

//       width:  97%;
//       height: 11vh;
//       background-color: #F5F5F5;

//       border-radius: 100px;

//       display: flex;
//       justify-content: center;
//       gap: 10px;

//       .relatorio{
//         margin-top: 1vh;

//         background-image: url(../../assets/icon/relatorio-financeiro.png);
//         background-repeat: no-repeat;
//         background-size: 82%;
//         background-position: 9.5px center;

//         width:  55px;
//         height: 55px;

//         border-radius: 50px;
//       }

//       .ganhos{
//         margin-top: 1vh;

//         background-image: url(../../assets/icon/investidor.png);
//         background-repeat: no-repeat;
//         background-size: 80%;
//         background-position: 5px center;


//         width:  55px;
//         height: 55px;

//         border-radius: 50px;
//       }

//       .home{
//         margin-top: 1vh;

//         background-image: url(../../assets/icon/lucro.png);
//         background-repeat: no-repeat;
//         background-size: 80%;
//         background-position: 5px center;

//         width:  60px;
//         height: 60px;
//         background-color: #FFFFFF;

//         border-radius: 50px;
//       }

//       .gastos{
//         margin-top: 1vh;

//         background-image: url(../../assets/icon/despesas.png);
//         background-repeat: no-repeat;
//         background-size: 75%;
//         background-position: 7px center;

//         width:  55px;
//         height: 55px;

//         border-radius: 50px;
//       }

//       .configuracoes{
//         margin-top: 1vh;

//         background-image: url(../../assets/icon/user.png);
//         background-repeat: no-repeat;
//         background-size: 80%;
//         background-position: 6px center;

//         width:  55px;
//         height: 55px;

//         border-radius: 50px;
//       }

    

//     }
//   }
// }