<main id="container">

  <div id="header">

    <ion-img (click)="pageOpcaoLogin()" src="../../assets/icon/left-arrow.png" class="seta"></ion-img>
    <img src="../../assets/NomeApp.png"         alt="logoApp"     class="logoApp">

  </div>

  <div id="body">

    <div class="form-group">

      <form class="form-login">

        <ion-grid>
          <ion-row>
            <ion-col>

              <div class="campo-nome">
                <label for="nome"> Nome </label>
                <ion-input 
                type="text"
                placeholder="Digite seu nome"
                [(ngModel)]="nomeUsuario"
                (ionInput)="validarNome()"
                name="inputValue"
                autofocus="false"
                ></ion-input>

                <p *ngIf="erroNome">{{erroNome}}</p>

              </div>

              <ion-button class="btn-cadastro" [disabled]="!botaoAtivo" routerLink='/'> Cadastro </ion-button>
              
              <div class="campo-entrar-conta">
                <span class="entrar-conta"> Já tem uma conta? <ion-router-link href="/login"> Entrar </ion-router-link> </span>
              </div>


            </ion-col>
          </ion-row>
        </ion-grid>

      </form>

    </div>


  </div>

 
  
</main>